{% extends "find_pp2m/base_maps.html" %}


{% block content %}
    <body>
        <!-- Javascript files -->
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
                integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
                crossorigin="">
        </script>
        {% load static %}
        <script type="text/javascript" src="{% static 'find_pp2m/js/map_with_weights.js' %}"></script>

        <!-- Javascript variable initialization -->
        <script type="text/javascript">
            var initial_cities = {{ initial_cities | safe }};
            var nbpeople = {{ nb_people | safe }};
            var method = {{ method | safe }};
            var criteria_ini = {{ criteria | safe }};

            var results_com = {{ results_com | safe }};
            var results_ind = {{ results_ind | safe }};
            var results_mix = {{ results_mix | safe }};
            
            if (method == 'route_duration') {
                var numformat = 2;
                var strmethod = 'par temps en voiture';
                var straveragemethod = 'Temps moyen';
                var strmaxmethod = 'Temps maximal';
            } else if (method == 'route_distance') {
                var numformat = 1;
                var strmethod = 'par distance en voiture';
                var straveragemethod = 'Distance moyenne';
                var strmaxmethod = 'Distance maximale';
            // } else if (method == 'raw_distance') {
            //     var numformat = 1;
            //     var strmethod = "par distance à vol d'oiseau";
            }

            if (criteria_ini == 'community') {
                var straverage = 'Moyenne des trajets';
                var strcriteria = 'minimiser la somme globale des déplacements';
            } else if (criteria_ini == 'individual') {
                var straverage = 'Trajet le plus long';
                var strcriteria = 'minimiser le trajet le plus long';
            }

            function writeBestResult(results, criteria, method, straveragemethod, strmaxmethod) {
                var wrapperBest = document.getElementById("BestResult");

                var myHTMLBest = '<p>Pour vous retrouver, on vous propose : <b>' + results[0]["name"] + '</b></p>';

                var composed_value_com = retrieveFormatedValue(results[0]["value_com"], method, 'community');   
                var composed_value_ind = retrieveFormatedValue(results[0]["value_ind"], method, 'individual');
                
                if (criteria == 'community') {
                    myHTMLBest +=  '<p><b>' + straveragemethod + ' : </b>';
                } else {
                    myHTMLBest +=  '<p>' + straveragemethod + ' : ';
                }
                myHTMLBest += composed_value_com + '<br>';

                if (criteria == 'individual') {
                    myHTMLBest +=  '<b>' + strmaxmethod + ' : </b>'
                } else {
                    myHTMLBest +=  strmaxmethod + ' : '
                }

                myHTMLBest += composed_value_ind + '</p>';
                wrapperBest.innerHTML = myHTMLBest;
            }

            function writeOtherResults(results, criteria, method, straveragemethod, strmaxmethod) {
                var wrapperOther = document.getElementById("OtherResults");

                var myHTML = '<thead>';
                myHTML += '<td width="40%"><b>Ville</b></td>';
                if (criteria == 'community') {
                    myHTML += '<td width="20%"><b>' + straveragemethod + '</b></td>';
                    var value_type = 'value_com';
                } else {
                    myHTML += '<td width="20%">' + straveragemethod + '</td>';
                }
                if (criteria == 'individual') {
                    myHTML += '<td width="20%"><b>' + strmaxmethod + '</b></td>';
                    var value_type = 'value_ind';
                } else {
                    myHTML += '<td width="20%">' + strmaxmethod + '</td>';
                }
                if (criteria == 'mixed') {
                    myHTML += '<td width="20%"><b>Critère mixte calculé</b></td>';
                    var value_type = 'value_mix';
                } else {
                    myHTML += '<td width="20%">Critère mixte calculé</td>';
                }
                myHTML += '</thead>';

                var i = 1;
                do {
                    var composed_value_com = retrieveFormatedValue(results[i]["value_com"], method, 'community');
                    var composed_value_ind = retrieveFormatedValue(results[i]["value_ind"], method, 'individual');
                    var composed_value_mix = retrieveFormatedValue(results[i]["value_mix"], method, 'mixed');
                    myHTML += '<tr>';
                    myHTML += '<td align="center">' + results[i]["name"] + '</td>';
                    myHTML += '<td align="center">' + composed_value_com + '</td>';
                    myHTML += '<td align="center">' + composed_value_ind + '</td>';
                    myHTML += '<td align="center">' + composed_value_mix + '</td>';
                    i += 1;
                } while (results[i][value_type] < results[0][value_type] * 1.2 & i < 6)
                wrapperOther.innerHTML = myHTML;
            }
        </script>

        <!-- Best results  -->
        <div id="BestResult" align="center"></div>


        <!-- Map -->
        <div id="map"></div>

        <script type="text/javascript" src="{% static 'find_pp2m/js/map_with_weights.js' %}"></script>
        <script type="text/javascript">
            // Get prefecture coordinates
            var pref_lat = 46.599;
            var pref_lon = 2.4958;
        
            // Initialize map centered in Null Island
            var macarte = L.map('map').setView([pref_lat, pref_lon], 5);

            function switchCriteria(initial_cities, nb_people, method, criteria, straverage, strmethod, straveragemethod, strmaxmethod) {
                eraseOldLayers();
                loadData(initial_cities, nb_people, method, criteria, straverage, strmethod, straveragemethod, strmaxmethod);
            }
            
            function loadData(initial_cities, nb_people, method, criteria, straverage, strmethod, straveragemethod, strmaxmethod) {
                if (criteria == 'community') {
                    var results = results_com;
                    var straverage = 'Moyenne des trajets';
                    document.getElementById("btn_community").style.display = "none"
                    document.getElementById("btn_individual").style.display = ""  
                    document.getElementById("btn_mixed").style.display = ""             
                } else if (criteria == 'individual') {
                    var results = results_ind;
                    var straverage = 'Trajet le plus long';
                    document.getElementById("btn_community").style.display = ""
                    document.getElementById("btn_individual").style.display = "none" 
                    document.getElementById("btn_mixed").style.display = ""      
                } else if (criteria == 'mixed') {
                    var results = results_mix;
                    var straverage = 'Valeur calculée';
                    document.getElementById("btn_community").style.display = ""
                    document.getElementById("btn_individual").style.display = "" 
                    document.getElementById("btn_mixed").style.display = "none"      
                }
                writeBestResult(results, criteria, method, straveragemethod, strmaxmethod);
                writeOtherResults(results, criteria, method, straveragemethod, strmaxmethod);
                initMap(results, initial_cities, method, criteria);
                writeParameters(initial_cities, nb_people, strmethod, criteria);
            }

            function eraseOldLayers() {
                macarte.eachLayer(function (layer) {
                    macarte.removeLayer(layer);
                });
            }

            // Initialisation function
            window.onload = function() {
                loadData(initial_cities, nbpeople, method, criteria_ini, straverage, strmethod, straveragemethod, strmaxmethod);
            }
        </script>

        <!-- Other results -->
        <p>D'autres villes s'offrent à vous :</p>
        <div>
            <table id="OtherResults" class="resultsTable" style="max-width:600px" align="center"></table>
        </div>

        <!-- Parameters -->
        <hr style="width:90%;height:1px;background-color:#ADD8E6"> 

        <div id="InitialCitiesList" align="center"></div>
        <script>
            function writeParameters(initial_cities, nb_people, strmethod, criteria) {
                var wrapper = document.getElementById("InitialCitiesList");
                if (criteria == 'community') {
                    var strcriteria = 'minimiser la somme globale des déplacements';
                } else if (criteria == 'individual') {
                    var strcriteria = 'minimiser le trajet le plus long';
                } else if (criteria == 'mixed') {
                    var strcriteria = 'critère mixte';
                }
                // Titre
                var myHTML = '<p><b>Rappel des paramètres de calcul</b></p>';
                // Villes de départ
                myHTML += '<p><b>Villes de départ :</b> ';
                for(var i = 0; i < initial_cities.length; i++) {
                    if (initial_cities[i]["fields"]["name"] == initial_cities[i]["fields"]["pref_name"]) {
                        myHTML += initial_cities[i]["fields"]["name"] + ' (x' + nbpeople[i].toString() + '), ';
                    } else {
                        myHTML += initial_cities[i]["fields"]["name"] + ' (' + initial_cities[i]["fields"]["pref_name"] +') (x' + nbpeople[i].toString() + '), ';
                    }
                }
                myHTML = myHTML.substring(0, myHTML.length - 2) + '</p>';
                // Méthode
                myHTML += '<p><b>Méthode de calcul :</b> ' + strmethod + '</p>';
                // Critère
                myHTML += "<p><b>Critère d'optimisation :</b> " + strcriteria + '</p>';

                wrapper.innerHTML = myHTML;
            }
        </script>

        <table align="center">
            <tr><td align="center" colspan="2">
                Modifier le critère d'optimisation :
            </td></tr>
            <tr>
                <td id="btn_mixed" style="display: none;">
                    <type="button" class="switch_button" onclick="switchCriteria(initial_cities, nbpeople, method, 'mixed', straverage, strmethod, straveragemethod, strmaxmethod)" >
                        Voir avec le critère mixte
                    </button>
                </td>
                <td id="btn_community" style="display: none;">
                    <type="button"  class="switch_button" onclick="switchCriteria(initial_cities, nbpeople, method, 'community', straverage, strmethod, straveragemethod, strmaxmethod)">
                        Voir en minimisant la somme globale des déplacements
                    </button>
                </td>
                <td id="btn_individual" style="display: none;">
                    <type="button" class="switch_button" onclick="switchCriteria(initial_cities, nbpeople, method, 'individual', straverage, strmethod, straveragemethod, strmaxmethod)" >
                        Voir en minimisant le trajet le plus long
                    </button>
                </td>
            </tr>
        </table>

        <!-- Go back -->
        <hr style="width:90%;height:1px;background-color:#ADD8E6">

        <table align="center"><tr><td align="center">
            <type="button" class="switch_button" onclick="javascript:history.go(-1);">
                Revenir au choix des villes
            </type>
        </td></tr></table>

    </body>
{% endblock %}
